<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Для записи различных настроек приложения-->
    <!--Путь к блокноту и картинкам теста-->
    <add key="questFolder" value="C:\Users\Brave\Documents\Visual Studio 2019\projects\C#\Practika_Test\Test\Test_3_in_1"/>
    <add key="questFile" value ="Vopros.txt"/>

  </appSettings>
</configuration>